.home {
    display: flex;
    width: 75%;
    margin: 100px auto;
}

.home_card {
    border: 1px solid #787878;
}

.home_left {
    position: relative;
    width: 650px;
}

.home_right {
    position: fixed;
    left: 875px;
}

.home_uploader {
    display: flex;
    text-align: center;
    justify-content: center;
}