.navbar_logo {
    margin-bottom: 0px!important;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.navbar_navbar {
    height: 54px!important;
    background-color: #fff!important;
    color: #000!important;
}
.navbar_icons {
    color: #000!important;
    display: flex!important;
    justify-content: space-around!important;
    width: 180px!important;
    cursor: pointer;
}
.navbar_toolbar {
    align-items: center;
    justify-content: space-around;
}

.navbar_input {
    text-indent: 7px;
    border: 1px solid #ececec;
    background: rgba(var(--b3f,250,250,250),1);
    height: 30px;
    margin: 3px 35px;
}
@media (min-width: 600px){
.MuiToolbar-regular {
    min-height: 0!important;
}}