.status_list{
    display: flex;
    list-style-type: none;
    max-width: 100%;
    overflow-y: auto;
    overflow: hidden;
}

.status_list > li > img {
    width: 60px;
    margin: 0 10px;
    border-radius: 50%;
}

.status {
    position: relative;
    background-color: #fff;
    padding: 15px 0px;
}
.status_button {
    position: absolute;
}

.status_left_button {
    background-color: #fff!important;
    top: 25px!important;
    left: 15px!important;
   position: absolute!important;
}

.status_right_button {
    background-color: #fff!important;
    left: 615px;
    top: 25px;
    position: absolute!important;
}

.MuiIconButton-root {
    padding: 0px!important;
}