.login_article {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.login_left_div {
    position: relative;
    margin-right: 12px;
    width: 415px;
    height: 615px;
    background-repeat: no-repeat;
    background-image: url('https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png');
}


.login_random_images {
    position: absolute;
    top: 100px;
    right: 24px;
}
.login_right_div {
    margin-top: 30px;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    background-color: #fff;
}

.login_register {
    justify-content: center;
    padding: 20px 0;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    display: flex;
    text-align: center;
    margin-top: 5px;
}

.login_heading {
    margin-bottom: 0px!important;
    font-family: 'Dancing Script', cursive;
    margin-top:20px!important;
    font-size: 50px;
    /* text-align: center; */
}

.login-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.login-form > input {
    text-indent: 7px;
    border: 1px solid #ececec;
    background: rgba(var(--b3f,250,250,250),1);
    height: 40px;
    margin: 3px 35px;
}

.login_button  {
    background-color: #0095f6!important;
    font-weight: 600!important;
    margin: 10px 35px!important;
}

.login_dummy_div {
    color: #A8A8A8;
    position: relative;
}

.login_or {
    overflow: hidden;
    text-align: center;
  }
  
  .login_or:before,
  .login_or:after {
    background-color: #A8A8A8;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 30%;
  }
  
  .login_or:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .login_or:after {
    left: 0.5em;
    margin-right: -50%;
  }

  .login_facebook {
    color: #385185;
    font-weight: 600;
      display: flex;
      margin: 10px 0;
      justify-content: center;
      align-items: end;
  }
  .login_forgot_password {
      color: #808080;
      margin-bottom: 25px;
      text-decoration: none;
      font-size: 12px;
  }

  .login_right_main {
      text-align: center;
      margin-left: 12px;
      width: 375px;
      height: 100%;
  }

  .login_signup {
      cursor: pointer;
    color: #0095f6;
    color: rgba(var(--d69,0,149,246),1);
  }

  .login_images {
      width: 130px;
      height: 45px;
      margin: 0 2px;
  }
  .login_footer {
      height: 20px;
      display: flex;
      justify-content: center;
  }

  .login_footer_list {
      display: flex;
      list-style: none;
  }

  .login_footer_list > li {
      margin: 0 5px;
      font-size: 12px;
      color: #808080;
  }

  .login_copyright {
      margin: 15px 0;
      display: flex;
      font-size: 12px;
      color: #808080;
      justify-content: center;
  }

  .login_random_images {
      /* display: none; */
  }